body {
    background-color: cornflowerblue;
    color: white;
    margin: 0;
    font-family: rubik;
}


.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 20%;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}

.card-subtitle {
    margin-top: 5px;
    color: grey;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Feature 5 Css */

.pokimg{
    display: flex;
    justify-content: end;
}
#inventorybutton{
/* position: fixed; */
/* right: 0%; */
/* top: 0%; */
height: 7vh;
z-index: 200;
}

.cart-container{
    width: 400px;
    height: 100vh;
    /* display: flex;
    justify-content: flex-end; */
    position: fixed;
    z-index: 500;
    right: 0%;
    top: 0%;
    background-color: rgba(153, 51, 51, 0.497);
    
}